.jumbotron-coffee {
	background: url('https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_33/2203981/171026-better-coffee-boost-se-329p.jpg') no-repeat #000;
	background-position: center;
	background-size: cover;
	min-height: 400px;
    margin-top: -20px;
}

.jumbotron-coffee-2 {
	background: url('https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1200-630,f_auto,q_auto:best/newscms/2019_33/2203981/171026-better-coffee-boost-se-329p.jpg') no-repeat #000;
	background-position: center;
	background-size: cover;
	min-height: 400px;
    margin-top: -20px;
}

.main-box{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    background-color: rgba(105,105,105, 0.8);
    display:inline-block; 
    margin-top: 100px; 
    margin-left: 50px; 
    color:white;
}